<template name="syncComponent">
  <div class="header-post">
			<ul>
  			<li class="upload-files-sec"><a href="#" title="" data-tooltip="Upload Files" data-placement="bottom" class="upload-btn"><i class="fa fa-cloud-upload green"></i></a>
    			<div class="upload-files">
    				<ul>
              {{#each syncEntry in syncData}}
    					<li>
    						<p>{{syncEntry.date}}</p>
    						<div class="progress small-progress progress-striped {{active}}">
    							<div style="width: {{syncEntry.percentage}}%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="{{syncEntry.percentage}}" role="progressbar" class="progress-bar {{syncEntry.barColor}}"></div>
    						</div>
    					</li>
              {{/each}}
              <li>
    						<p><button type="button" class="btns  green  lrg-btn "><i class="fa fa-cloud"></i>{{_ "SYNCHRONIZE_NOW"}}</button></p>
    					</li>
    				</ul>
    			</div>
  			</li>
			</ul>
  </div>
</template>
