<template name="formGroupComponent">
  <div class="form-group {{#if error}}has-error{{/if}}">
      <label for="{{id}}">{{label}}</label>
       {{#if (equal type 'text')}}
          <input type="text" class="form-control {{class}}" value="{{value}}" id="{{id}}" placeholder="{{placeholder}}">
        {{/if}}

        {{#if (equal type 'number')}}
           <input type="number" class="form-control {{class}}" value="{{value}}" id="{{id}}" >
         {{/if}}

        {{#if (equal type 'select')}}
           {{>selectComponent options=options selected=selected value=value id=id class=class}}
        {{/if}}
        <p>  {{#if error}}{{error}}{{/if}}</p>
  </div>

</template>
