button.btn-circle-game-terminal {
  width: 180px;
  height: 180px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 90px;
  word-wrap: break-word;
}
button.btn-circle-game-terminal.selected {
  width: 180px;
  height: 180px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 90px;
  border: black solid 5px;
  word-wrap: break-word;
}
