<template name="removeModalComponent">
  <div class="modal fade">
      <div class="modal-dialog">
          <div class="modal-content">

              <div class="modal-body">
                  <p>Tem a certeza que deseja remover {{model.prefix}} {{model.name}}</p>

                  <button type="button" class="btn btn-danger remove-model">
                    {{_ 'REMOVE'}}
                  </button>
              </div>

              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal"> {{_ 'CLOSE'}}</button>
              </div>

          </div>
      </div>
  </div>
</template>
